apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: staging
  labels:
    app: frontend
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: quay.tiplab.local/orca/fe:c3aca99
        imagePullPolicy: Always
        env:
        - name: CHOKIDAR_USEPOLLING
          value: "true"
        ports:
        - containerPort: 80
        resources:
          limits:
            memory: "1Gi"
            cpu: "1000m"
          requests:
            memory: "300Mi"
            cpu: "200m"
        livenessProbe:
          httpGet:
            path: "/"
            port: 80
          initialDelaySeconds: 2
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 5
        readinessProbe:
          httpGet:
            path: "/"
            port: 80
          initialDelaySeconds: 1
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
      imagePullSecrets:
      - name: quay-registry-secret
      nodeName: node2

