apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: staging
  labels:
    app: backend
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: quay.tiplab.local/orca/be:75b5dbf
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        command: ["/bin/bash", "-c"]
        args:
        - python3 manage.py makemigrations &&
          python3 manage.py migrate &&
          python3 manage.py migrate --run-syncdb &&
          python3 manage.py runserver 0.0.0.0:8000
        securityContext:
          capabilities:
            add: ["NET_RAW", "NET_ADMIN"]
        resources:
          limits:
            memory: "1Gi"
            cpu: "1000m"
          requests:
            memory: "200Mi"
            cpu: "100m"
        livenessProbe:
          httpGet:
            path: "/admin/login/?next=/admin/login"
            port: 8000
          initialDelaySeconds: 60
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: "/admin/login/?next=/admin/login"
            port: 8000
          initialDelaySeconds: 60
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 3
      imagePullSecrets:
      - name: quay-registry-secret
      nodeName: node2